@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .links {
       text-decoration: underline 2px theme(colors.active-green);
       text-underline-offset: 1rem;
       color: white;
       text-transform: uppercase;
      }
    h1 {
      color: white;
    }
    h2 {
      color: white;
    }
  }

  /* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 85%);
  -webkit-text-fill-color: hsl(0, 0%, 85%);
  -webkit-box-shadow: 0 0 0px 1000px hsl(0, 0%, 14%) inset;
  box-shadow: 0 0 0px 1000px hsl(0, 0%, 14%) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: hsl(0, 0%, 85%);
  text-transform: uppercase;
}